.banner-top {
    position: relative;
}
.banner-top__label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    color: #ffffff;
    .banner-top__label__content {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
        text-align: center;
        h1 {
            font-weight: 900;
            padding: 10px;
            max-width: 70%;
            min-width: 180px;
            font-size: 1.2rem;
            line-height: 1.4rem;
            background-color: rgba($red, 0.7);
            border: 2px solid #ffffff;
        }
    }
}

.banner-black {
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    height: 26px;
    width: 100%;
    padding: 6px 15px;
    text-align: center;
    background-color: $black;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.9rem;
}