.filter__body__collapse__color__item.blanc{
  background-color:#fff;}
.filter__body__collapse__color__item.gris{
  background-color:#a4a4a4;}
.filter__body__collapse__color__item.grisfonce{
  background-color:#373737;}
.filter__body__collapse__color__item.noir{
  background-color:#000000;}
.filter__body__collapse__color__item.bleu{
  background-color:#258ccf;}
.filter__body__collapse__color__item.rouge{
  background-color:#c62525;}
.filter__body__collapse__color__item.jaune{
  background-color:#fde03c;}
.filter__body__collapse__color__item.violet{
  background-color:#9c48b7;}
.filter__body__collapse__color__item.rose{
  background-color:#ff989e;}
.filter__body__collapse__color__item.vert{
  background-color:#66b11c;}
.filter__body__collapse__color__item.marron{
  background-color:#703c09;}
.filter__body__collapse__color__item.taupe{
  background-color:#a48c86;}
.filter__body__collapse__color__item.orange{
  background-color:#ff902d;}
.filter__body__collapse__color__item.mauve{
  background-color:#be89dc;}
.filter__body__collapse__color__item.bois{
  background-image:url('../images/couleur_bois.png');}
.filter__body__collapse__color__item.verre{
  background-image:url('../images/verre.png');}
.filter__body__collapse__color__item.motif{
  background-image:url('../images/motif_bg.png');}
.filter__body__collapse__color__item.motifs{
  background-image:url('../images/motif_bg.png');}
.filter__body__collapse__color__item.metal{
  background-image:url('../images/metal_bg.png');}
.filter__body__collapse__color__item.boisclair{
  background-image:url('../images/bois-clair.png');}
.filter__body__collapse__color__item.metalfonce{
  background-image:url('../images/metalfonce.png');}
.filter__body__collapse__color__item.metalclair{
  background-image:url('../images/metalclair.png');}
.filter__body__collapse__color__item.boisfonce{
  background-image:url('../images/bois-fonce.png');}
