.promo-bg--1 {
  background: url('../images/background_HP_operation.jpg') 0 0;
}

.promo-bg--2 {
  background: url('../images/background_HP_operation.jpg') 0 -60px;
}

.promo-bg--3 {
  background: url('../images/background_HP_operation.jpg') 0 -120px;
}

.promo-bg--4 {
  background: url('../images/background_HP_operation.jpg') 0 -180px;
}

.promo-bg--5 {
  background: url('../images/background_HP_operation.jpg') 0 -240px;
}

.promo-bg--6 {
  background: url('../images/background_HP_operation.jpg') 0 -300px;
}

.promo-bg--7 {
background: url('../images/background_HP_operation.jpg') 0 -360px;
}

.promo-bg--8 {
  background: url('../images/background_HP_operation.jpg') 0 -420px;
}

.promo-bg--9 {
  background: url('../images/background_HP_operation.jpg') 0 -480px;
}

.promo-bg--10 {
  background: url('../images/background_HP_operation.jpg') 0 -540px;
}

