.gray {
  color: #666666 !important;
}
.ocre {
  color: #701822;
}
.black {
  color: #303030 !important;
}
.red {
  color: #D20018;
}
.redlight {
  color: #E2001A;
}
.redbright {
  color: #FF001D;
}
.reddark {
  color: #830416;
}
.green {
  color: #39A033 !important;
}
.greenlight {
  color: #2A9F56;
}
.yellow {
  color: #F5C51E;
}
.orange {
  color: #F59D00;
}
.paleblue {
  color: #768D9F;
}
.blue {
  color:#1A6499 !important;
}
.brown {
  color:#DF8646
}
.medium-gray {
  color:#b7bdc2 !important;
}