/* COLORS */
$black: #303030;
$lightgray: #F5F6F7;
$mediumgray: #B7BDC2;
$bordergray: #D7D7D7;
$gray: #666666;
$red: #D20018;
$redlight: #E2001A;
$redbright: #FF001D;
$reddark: #830416;
$reddark2:#7f0712;
$paleblue: #768D9F;
$yellow: #F5C51E;
$green: #39A033;
$greenlight: #2A9F56;
$orange: #F59D00;
$ocre: #701822;
$blue:#1A6499;
$brown:#DF8646;
$darkbrown: #D87137;
$ciblergreen: #67b0ad;

/* GRID */
$grid-gutter-width: 15px !default;
