.dropdown-menu.open.show ul li.divider {
  height: 1px !important;
  margin: 9px 0 !important;
  overflow: hidden !important;
  background-color: #e5e5e5 !important;
}

.dropdown-menu.open.show ul li.dropdown-header {
  margin-bottom: -15px !important;
}